<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087160646678-6kbgp0dek1qcdhr6uhspdj7g9t3erhbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087160646678-6kbgp0dek1qcdhr6uhspdj7g9t3erhbm</string>
	<key>API_KEY</key>
	<string>AIzaSyCCCZGitVn8Mc6hYJAcPVIUzEfQZsgpgtM</string>
	<key>GCM_SENDER_ID</key>
	<string>1087160646678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ridemobile</string>
	<key>PROJECT_ID</key>
	<string>ride-mobile-cdd03</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-mobile-cdd03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087160646678:ios:73e4cc968c7dc80dbe4937</string>
</dict>
</plist>